<body class="body-wrapper">
  <h1>MongoDB</h1>
  <p>
    O MongoDB é um banco de dados NoSQL flexível e escalável, que armazena dados
    em formato de documentos JSON. Ele oferece recursos avançados de consulta e
    indexação, sendo amplamente utilizado para gerenciar grandes volumes de
    dados em aplicações modernas.
  </p>
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>MongoDB</mat-card-title>
      <mat-card-subtitle>Banco de dados NoSQL</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Banco de dados NoSQL baseado em documentos. Ele oferece flexibilidade e
        escalabilidade, permitindo que os desenvolvedores armazenem e acessem
        dados não estruturados ou semi-estruturados.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a routerLink="/mongo"><button mat-button>Conheça mais!</button></a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>Express.js</mat-card-title>
      <mat-card-subtitle
        >Roteamento, middleware e manipulação de
        solicitações/respostas</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        Framework web para Node.js, que fornece uma camada de abstração para
        facilitar a construção de aplicativos web e APIs RESTful. Ele simplifica
        o gerenciamento de rotas, solicitações HTTP e outras funcionalidades do
        servidor.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Conheça mais!</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>AngularJS ou Angular</mat-card-title>
      <mat-card-subtitle>Renderização do lado do cliente</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Framework de JavaScript desenvolvido pelo Google. Ele permite a
        construção de interfaces de usuário interativas e dinâmicas, manipulando
        facilmente eventos, atualizações de dados e interações com o servidor.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Conheça mais!</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>Node.js</mat-card-title>
      <mat-card-subtitle>Servidor JavaScript backend</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ambiente de tempo de execução de JavaScript baseado no motor V8 do
        Google Chrome. Ele permite que os desenvolvedores criem aplicativos de
        servidor usando JavaScript, tornando possível o desenvolvimento
        full-stack em uma única linguagem.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Conheça mais!</button>
    </mat-card-actions>
  </mat-card>
</body>
