<ng-container>
  <body class="body-wrapper">
    <custom-table
      *ngIf="employees != undefined"
      [tableData]="employees"
      [tableColumns]="tableColumns"
      [isFilterable]="true"
      [isPageable]="true"
      [paginationSizes]="[2, 4, 6]"
      [defaultPageSize]="4"
      (sort)="sortData($event)"
      [rowActionIcon]="'remove_shopping_cart'"
      (rowAction)="removeOrder($event)"
    >
    </custom-table>
    <br />
    <cornell
      [title]="'Titulo Teste'"
      [summary]="'Resumo aqui...'"
      [rowData]="cornellData"
    ></cornell>
    <br />
    <alternative-question></alternative-question>
    <br />
    <button mat-raised-button (click)="getTables(2)">Basic</button>
    <app-cards
      [avatarSrc]="'https://media.istockphoto.com/id/866757230/pt/vetorial/female-sex-symbol-icon-black-minimalist-icon-isolated-on-white-background.jpg?s=2048x2048&w=is&k=20&c=UroAzmXbWzM_WoXPeN_96PR9ps0Cigz1W-JTFLKeztU='"
      [headerImageSrc]="'https://media.istockphoto.com/id/1296344118/pt/foto/beautiful-happy-woman-enjoying-the-warm-sunlight-in-a-tropical-public-park.jpg?s=612x612&w=0&k=20&c=tF_33ACbDnBUMCPQP93qENkok1WW6YiK54CVgexvpK4='"
      [title]="'Título do Card'"
      [subtitle]="'Subtítulo do Card'"
      [content]="'Conteúdo do Card'"
      [action]="'Ação do Card'">
    </app-cards>
  </body>
</ng-container>
