<body class="body-wrapper">
  <h1>Stack de desenvolvimento MEAN</h1>
  <p>
    <i><b>Software stack</b></i> é o termo utilizado na área da computação para referir-se a um conjunto de subsistemas, ou componentes, necessários à criação de uma plataforma completa que suporte do desenvolvimento de aplicações sem que sejam necessários softwares adicionais. 
  </p>
  <p>
    A stack MEAN é um conjunto de tecnologias de desenvolvimento web que são
    frequentemente usadas em conjunto para criar aplicativos web escaláveis e de
    alto desempenho. A sigla MEAN é um acrônimo para as seguintes tecnologias:
  </p>
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>MongoDB</mat-card-title>
      <mat-card-subtitle>Banco de dados NoSQL</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Banco de dados NoSQL baseado em documentos. Ele oferece flexibilidade e
        escalabilidade, permitindo que os desenvolvedores armazenem e acessem
        dados não estruturados ou semi-estruturados.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a routerLink="/mongo"><button mat-button>Conheça mais!</button></a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>Express.js</mat-card-title>
      <mat-card-subtitle>Roteamento, middleware e manipulação de solicitações/respostas</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Framework web para Node.js, que fornece uma camada de abstração para
        facilitar a construção de aplicativos web e APIs RESTful. Ele simplifica
        o gerenciamento de rotas, solicitações HTTP e outras funcionalidades do
        servidor.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Conheça mais!</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>Angular (ou AngularJS)</mat-card-title>
      <mat-card-subtitle>Renderização do lado do cliente</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Framework de JavaScript desenvolvido pelo Google. Ele permite a
        construção de interfaces de usuário interativas e dinâmicas, manipulando
        facilmente eventos, atualizações de dados e interações com o
        servidor.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Conheça mais!</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>Node.js</mat-card-title>
      <mat-card-subtitle>Servidor JavaScript backend</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ambiente de tempo de execução de JavaScript baseado no motor V8 do
        Google Chrome. Ele permite que os desenvolvedores criem aplicativos de
        servidor usando JavaScript, tornando possível o desenvolvimento
        full-stack em uma única linguagem.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Conheça mais!</button>
    </mat-card-actions>
  </mat-card>
</body>
