<ng-container>
  <mat-card>
    <mat-card-header *ngIf="topic || note" class="header-container">
      <mat-card-title *ngIf="topic">{{ topic }}</mat-card-title>
      <mat-card-subtitle *ngIf="note">{{ note }}</mat-card-subtitle>
    </mat-card-header>

    <div class="image-wrapper img" *ngIf="figureSrc">
      <img [src]="figureSrc" alt="Imagem do Header" />
    </div>

    <mat-card-content>
      <form [formGroup]="formQuestion" *ngIf="statement">
        <div class="editor">
          <ngx-editor
            [editor]="_editorQuestion"
            formControlName="editorQ"
            [placeholder]="'Insira o enunciado da questão...'"
          >
          </ngx-editor>
        </div>
      </form>

      <mat-radio-group
        *ngIf="alternatives"
        aria-labelledby="radio-group-label"
        class="radio-group"
      >
        <mat-radio-button
          class="radio-button"
          *ngFor="let alt of alternatives"
          [value]="alt"
        >
          {{ alt }}
        </mat-radio-button>
      </mat-radio-group>

      <form [formGroup]="formAnswer" *ngIf="discursive">
        <div class="editor">
          <ngx-editor-menu [editor]="_editorAnswer" [toolbar]="toolbarAnswer">
          </ngx-editor-menu>
          <ngx-editor
            [editor]="_editorAnswer"
            formControlName="editorA"
            [placeholder]="'Insira sua resposta aqui...'"
          >
          </ngx-editor>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-container>
