<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Objeto">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="8px" class="wrapper container">
      <div fxFlex="30" class="container">
        <h2>Objetos disponíveis</h2>
        <app-create-object></app-create-object>
      </div>
      <div fxFlex="70" class="container">
        <h2>Objeto em desenvolvimento</h2>
        <app-new-card></app-new-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Roteiro"></mat-tab>
</mat-tab-group>
