/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-button {
    margin: 8px;
}

.form-container{
    margin: 8px;
}

.body-wrapper {
    margin: 20px;
    padding: 20px;
    height: auto;
    width: auto;
  }

.content-wrapper {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-container {
  margin: 8px;
}

.wrapper{
  margin: 8px;
}

.container {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}