<mat-accordion #accordion="matAccordion">
  <!-- card -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Cartão </mat-panel-title>
      <mat-panel-description>
        Título, subtítulo, avatar, imagem e texto.</mat-panel-description
      >
    </mat-expansion-panel-header>
    <app-cards
      [avatarSrc]="card.avatarSrc"
      [headerImageSrc]="card.headerImageSrc"
      [title]="card.title"
      [subtitle]="card.subtitle"
      [content]="card.content"
      [actionTitle]="card.actionTitle"
      [actionLink]="card.actionLink"
    >
    </app-cards>
    <mat-action-row>
      <button
        mat-button
        color="warn"
        (click)="setObjectType('card')"
        [appCollapseAccordionOnClick]="accordion"
      >
        Criar
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- question -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Questão </mat-panel-title>
      <mat-panel-description>
        Assunto, observação, imagem, enunciado, alternativas e/ou editor de
        texto.</mat-panel-description
      >
    </mat-expansion-panel-header>
    <question
      [topic]="question.topic"
      [note]="question.note"
      [figureSrc]="question.figureSrc"
      [statement]="question.statement"
      [alternatives]="question.alternatives"
      [discursive]="question.discursive.toString()"
    >
    </question>
    <mat-action-row>
      <button
        mat-button
        color="warn"
        (click)="setObjectType('question')"
        [appCollapseAccordionOnClick]="accordion"
      >
        Criar
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<br />
<div *ngIf="newObjectType != undefined" [align]="'center'">
  <h3>
    Tipo de objeto selecionado:
    <b>{{ newObjectType }}</b>
  </h3>
</div>
