<form [formGroup]="form">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Título" formControlName="title" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Subtítulo</mat-label>
      <input matInput placeholder="Subtítulo" formControlName="subtitle" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Avatar</mat-label>
      <input matInput placeholder="Avatar" formControlName="avatarSrc" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Imagem</mat-label>
      <input matInput placeholder="Imagem" formControlName="headerImageSrc" />
    </mat-form-field>
  </p>

  <div class="editor">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [placeholder]="'Conteúdo'"
      formControlName="content"
    >
    </ngx-editor>
  </div>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Texto de redirecionamento</mat-label>
      <input
        matInput
        placeholder="Texto de redirecionamento"
        formControlName="actionTitle"
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Link para redirecionamento</mat-label>
      <input
        matInput
        placeholder="Link para redirecionamento"
        formControlName="actionLink"
      />
    </mat-form-field>
</form>
