<form [formGroup]="form">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Título" formControlName="title" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Subtítulo</mat-label>
      <input matInput placeholder="Subtítulo" formControlName="subtitle" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Link para o avatar</mat-label>
      <input
        matInput
        placeholder="Link para o avatar"
        formControlName="avatarSrc"
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Link para a imagem</mat-label>
      <input
        matInput
        placeholder="Link para a imagem"
        formControlName="headerImageSrc"
      />
    </mat-form-field>
  </p>

  <div class="editor">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [placeholder]="'Editor de texto enriquecido'"
      formControlName="content"
    >
    </ngx-editor>
  </div>

  <br />

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Texto de redirecionamento</mat-label>
      <input
        matInput
        placeholder="Texto de redirecionamento"
        formControlName="actionTitle"
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Link para redirecionamento</mat-label>
      <input
        matInput
        placeholder="Link para redirecionamento"
        formControlName="actionLink"
      />
    </mat-form-field>
  </p>
</form>
