<div class="field-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h4>
      {{ _processStringService.getLastToken(object.nodeInfo.key) }}
    </h4>

    <button
      mat-stroked-button
      (click)="handleIndex()"
      *ngIf="index < object.nodeInfo.maxOccurs"
      color="primary"
      matBadge="{{ index }}"
      [disabled]="langStringFilter?.result?.langString?.length === 0"
    >
      Adicionar nova sentença
    </button>
  </div>

  <div [ngSwitch]="object?.nodeInfo?.nodeType" class="container">
    <div *ngSwitchCase="'langString-type'" class="flex-container">
      <app-lang-string-type-filter
        class="flex-item"
        [object]="localObject"
        [filterComponent]="localFilterComponent"
        #langStringFilter
      ></app-lang-string-type-filter>
    </div>
  </div>

  <h5 [align]="'end'">
    {{ description }}, onde {{ object.nodeInfo.minOccurs }} ≥ N ≤
    {{ object.nodeInfo.maxOccurs }}.
  </h5>
</div>
