<h1 mat-dialog-title>
  {{ description }}, onde {{ object.nodeInfo.minOccurs }} ≥ N ≤
  {{ object.nodeInfo.maxOccurs }}.
</h1>
<div mat-dialog-content>
  <div align="end">
    <button
      mat-stroked-button
      (click)="handleIndex()"
      *ngIf="index < object.nodeInfo.maxOccurs"
      color="primary"
      matBadge="{{ index }}"
      matBadgePosition="below after"
      [disabled]="langStringFilter?.result?.langString?.length === 0"
    >
      Adicionar nova entrada
    </button>
  </div>
  <div class="field-container">
    <div [ngSwitch]="object?.nodeInfo?.nodeType" class="container">
      <div *ngSwitchCase="'langString-type'" class="flex-container">
        <app-lang-string-type-filter
          class="flex-item"
          [object]="object"
          [filterComponent]="filterComponent"
          #langStringFilter
        ></app-lang-string-type-filter>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" mat-dialog-close>Concluído</button>
</div>
