<form [formGroup]="form">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Assunto</mat-label>
      <input
        matInput
        formControlName="topic"
        title="Assunto"
        placeholder="Assunto"
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nota</mat-label>
      <input matInput formControlName="note" title="Nota" placeholder="Nota" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Link para imagem</mat-label>
      <input
        matInput
        formControlName="figureSrc"
        title="Link para imagem"
        placeholder="Link para imagem"
      />
    </mat-form-field>
  </p>

  <div class="editor">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [placeholder]="'Enunciado'"
      formControlName="statement"
    >
    </ngx-editor>
  </div>

  <br>

  <div formArrayName="alternatives">
    <mat-form-field appearance="outline">
      <mat-label>Alternativa</mat-label>
      <input
        matInput
        #alternativeInput
        title="Alternativa"
        placeholder="Alternativa"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="
          addAlternative(alternativeInput.value); alternativeInput.value = ''
        "
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <p>
    <mat-checkbox formControlName="discursive">Discursiva</mat-checkbox>
  </p>
</form>
