<form [formGroup]="form">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input
        matInput
        formControlName="topic"
        title="Título"
        placeholder="Título"
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Subtítulo</mat-label>
      <input matInput formControlName="note" title="Subtítulo" placeholder="Subtítulo" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Link para a imagem</mat-label>
      <input
        matInput
        formControlName="figureSrc"
        title="Link para a imagem"
        placeholder="Link para a imagem"
      />
    </mat-form-field>
  </p>

  <div class="editor">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [placeholder]="'Editor de texto enriquecido'"
      formControlName="statement"
    >
    </ngx-editor>
  </div>

  <br />

  <div formArrayName="alternatives">
    <mat-form-field appearance="outline">
      <mat-label>Alternativa</mat-label>
      <input
        matInput
        #alternativeInput
        title="Alternativa"
        placeholder="Alternativa"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="
          addAlternative(alternativeInput.value); alternativeInput.value = ''
        "
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <p>
    <mat-checkbox formControlName="discursive">Discursiva</mat-checkbox>
  </p>
</form>
