.mat-sidenav {
  width: 200px;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav-toolbar{
  background: inherit;
}

.project-title {
  font-family: "Homemade Apple";
  font-size:x-large;
}
