<mat-sidenav-container>
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="nav-toolbar">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <span fxFlex><img [src]="iconPath" alt="Ícone" /></span>
        <span fxFlex class="project-title">LearnBench</span>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/criar">Criar</a>
      <a mat-list-item routerLink="/explorar">Explorar</a>
      <a mat-list-item routerLink="/retomar">Retomar</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <div fxLayout="row" fxLayoutAlign="center center">
        <span fxFlex>
          <button
            aria-label="Notifications"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon>notifications</mat-icon>
          </button>
        </span>
        <span fxFlex *ngIf="isLoggedIn == true">
          <button
            aria-label="UserInfo"
            mat-icon-button
            (click)="openUserDetailsDialog()"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
        </span>
        <span fxFlex *ngIf="isLoggedIn == true">
          <button mat-icon-button (click)="openLogoutDialog()">
            <mat-icon>logout</mat-icon>
          </button>
        </span>
        <span fxFlex *ngIf="isLoggedIn == false">
          <button mat-icon-button (click)="openLoginDialog()">
            <mat-icon>login</mat-icon>
          </button>
        </span>
      </div>
    </mat-toolbar>
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-notifications></app-notifications>
