<div fxLayout="column">
  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        type="button"
        mat-button
        color="primary"
        (click)="shareItinerary(itinerary)"
        matTooltip="Compartilhar roteiro"
      >
        <mat-icon>share</mat-icon> Compartilhar
      </button>
      <button
        type="button"
        mat-button
        color="primary"
        (click)="downloadPdf()"
        matTooltip="Baixar conteúdo"
      >
        <mat-icon>download</mat-icon> Baixar
      </button>
      <button
        type="button"
        mat-button
        color="primary"
        (click)="sendPdfByEmail()"
        matTooltip="Enviar respostas"
      >
        <mat-icon>send</mat-icon> Enviar
      </button>
    </div>
  </div>
  <div *ngIf="itinerary != null">
    <div *ngFor="let item of itinerary.content; let i = index">
      <div id="content-{{ item.objectId }}" class="object-print">
        <div class="wrapper">
          <div *ngIf="getObjectType(item.objectId) == 'card'">
            <app-cards
              [avatarSrc]="getObjectContent(item.objectId)?.avatarSrc"
              [headerImageSrc]="getObjectContent(item.objectId)?.headerImageSrc"
              [title]="getObjectContent(item.objectId)?.title"
              [subtitle]="getObjectContent(item.objectId)?.subtitle"
              [content]="getObjectContent(item.objectId)?.content"
              [actionTitle]="getObjectContent(item.objectId)?.actionTitle"
              [actionLink]="getObjectContent(item.objectId)?.actionLink"
            >
            </app-cards>
          </div>
          <div *ngIf="getObjectType(item.objectId) == 'question'">
            <question
              [topic]="getObjectContent(item.objectId)?.topic"
              [note]="getObjectContent(item.objectId)?.note"
              [figureSrc]="getObjectContent(item.objectId)?.figureSrc"
              [statement]="getObjectContent(item.objectId)?.statement"
              [alternatives]="getObjectContent(item.objectId)?.alternatives"
              [discursive]="getObjectContent(item.objectId)?.discursive"
            >
            </question>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        type="button"
        mat-button
        color="primary"
        (click)="shareItinerary(itinerary)"
        matTooltip="Compartilhar roteiro"
      >
        <mat-icon>share</mat-icon> Compartilhar
      </button>
      <button
        type="button"
        mat-button
        color="primary"
        (click)="downloadPdf()"
        matTooltip="Baixar conteúdo"
      >
        <mat-icon>download</mat-icon> Baixar
      </button>
      <button
        type="button"
        mat-button
        color="primary"
        (click)="sendPdfByEmail()"
        matTooltip="Enviar respostas"
      >
        <mat-icon>send</mat-icon> Enviar
      </button>
    </div>
  </div>
</div>
