.example-radio-group {
    display: block;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  :host {
    display: block;
  }
  
  .avatar-wrapper {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do card */
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse a largura do card */
  }
  
  .avatar-wrapper img {
    width: 100%; /* Define a largura da imagem como 100% da largura do seu contêiner (o card) */
    height: auto; /* Mantém a proporção original da imagem */
  }
  
  .header-container {
    padding-block-end: 8px;
  }
  
  .image-wrapper {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do card */
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse a largura do card */
    padding-inline: 8px;
    align-self: center;
  }
  
  .image-wrapper img {
    max-width: 100%; /* Define a largura da imagem como 100% da largura do seu contêiner (o card) */
    height: auto; /* Mantém a proporção original da imagem */
  }
  
  .editor-container {
    padding: 4px;
    padding-inline: 8px;
  }
  
  .editor {
    border-radius: 4px;
  
    .NgxEditor__MenuBar {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .NgxEditor {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
    }
  
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      margin-bottom: 0.7rem;
  
      pre {
        white-space: pre !important;
      }
    }
  }
  