<mat-card>
  <mat-card-header *ngIf="avatarSrc || title || subtitle">
    <div mat-card-avatar class="avatar" *ngIf="avatarSrc">
      <div class="image-wrapper">
        <img [src]="avatarSrc" alt="Avatar do Card" />
      </div>
    </div>
    <mat-card-title *ngIf="title">{{ title }}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <div class="image-wrapper img" style="align-self: center;" *ngIf="headerImageSrc">
    <img [src]="headerImageSrc" alt="Imagem do Header" />
  </div>
  <mat-card-content *ngIf="content"><markdown [data]="content"></markdown></mat-card-content>
  <mat-card-actions *ngIf="action">
    <button mat-button>{{ action }}</button>
  </mat-card-actions>
</mat-card>
