<div
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayout.lt-md="column"
  fxLayoutGap="8px"
>
  <div fxFlex class="container">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel
          >Formulário de criação do plano de aprendizagem</ng-template
        >
        <div class="container">
          <app-plan-form></app-plan-form>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button type="button" mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>

      <mat-step>
        <form [formGroup]="metadataForm" (ngSubmit)="addMetadata()">
          <ng-template matStepLabel
            >Formulário de criação dos metadados associados</ng-template
          >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Chave</mat-label>
                  <input matInput placeholder="Chave" formControlName="chave" />
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Valor</mat-label>
                  <input matInput placeholder="Valor" formControlName="valor" />
                </mat-form-field>
              </p>
            </div>
            <button
              type="submit"
              color="primary"
              mat-icon-button
              aria-label="Adicionar par chave/valor"
              #addMetadataButton
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <button type="button" mat-button matStepperPrevious>Voltar</button>
            <button type="button" mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Etapa de seleção dos objetos</ng-template>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button type="button" mat-button matStepperPrevious>Voltar</button>
          <button type="button" mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>

      <mat-step>
        <form>
          <ng-template matStepLabel>Revisar e salvar</ng-template>
          <p>
            Verifique se o objeto criado e os metadados associados atendem aos
            requisitos.
          </p>
          <div fxLayout="row" fxLayoutAlign="start center">
            <button type="button" mat-button matStepperPrevious>Voltar</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="submit()"
            >
              Salvar
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
