<div class="container" fxLayout="column" fxLayoutAlign="center stretch">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Filtrar </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        class="container"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxFlex="100"
      >
        <app-filter #filter [filters]="filters" fxFlex="100"></app-filter>
        <div class="button-container" fxLayoutAlign="end center" fxFlex="100">
          <button mat-button (click)="clearFilters()" color="primary">Limpar</button>
          <button mat-button (click)="search()" color="primary">Buscar</button>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Selecionar </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        class="container scrollable"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxFlex="100"
      >
        <app-selection-table
          [objects]="objects"
          [selectedObjects]="selectedObjects"
        ></app-selection-table>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="selectedObjects.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title> Organizar </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100">
        <div
          fxLayout="row"
          fxLayoutAlign="start stretch"
          fxFlex="100"
          fxLayoutGap="4px"
        >
          <div
            class="container scrollable"
            fxLayoutAlign="start stretch"
            fxFlex="174px"
          >
            <app-sortable-table
              fxFlex="156px"
              [selectedObjects]="selectedObjects"
            ></app-sortable-table>
          </div>
          <div
            class="container scrollable"
            fxLayoutAlign="start stretch"
            fxFlex
          >
            <app-itinerary-table
              fxFlex
              [selectedObjects]="selectedObjects"
            ></app-itinerary-table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
