<div class="container wrapper">
    <app-filter #filter [filters]="filters"></app-filter>

    <div class="button-container" [align]="'end'">
      <button mat-button (click)="clearFilters()">Limpar</button>
      <button mat-button (click)="search()" color="primary">Buscar</button>
    </div>
  </div>

  <div *ngFor="let item of objects">
    <div *ngIf="item.type == 'card'">
      <app-cards
        class="object-container"
        [avatarSrc]="item.content.avatarSrc"
        [headerImageSrc]="item.content.headerImageSrc"
        [title]="item.content.title"
        [subtitle]="item.content.subtitle"
        [content]="item.content.content"
        [actionTitle]="item.content.actionTitle"
        [actionLink]="item.content.actionLink"
      >
      </app-cards>
    </div>
    <div *ngIf="item.type == 'question'">
      <question
        class="object-container"
        [topic]="item.content.topic"
        [note]="item.content.note"
        [figureSrc]="item.content.figureSrc"
        [statement]="item.content.statement"
        [alternatives]="item.content.alternatives"
        [discursive]="item.content.discursive"
      >
      </question>
    </div>
  </div>