<div
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayout.lt-md="column"
  fxLayoutGap="8px"
>
  <div fxFlex class="container">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>Formulário de criação do objeto</ng-template>
        <app-new-question *ngIf="objectType == 'question'"></app-new-question>
        <app-new-card *ngIf="objectType == 'card'"></app-new-card>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button type="button" mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel
          >Formulário de criação dos metadados</ng-template
        >
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <app-metadata-form fxFlex [filters]="filters"></app-metadata-form>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button type="button" mat-button matStepperPrevious>Voltar</button>
          <button type="button" mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>

      <mat-step>
        <form>
          <ng-template matStepLabel>Revisar e salvar</ng-template>
          <p>
            Verifique se o objeto criado e os metadados associados atendem aos
            requisitos.
          </p>
          <div fxLayout="row" fxLayoutAlign="start center">
            <button type="button" mat-button matStepperPrevious>Voltar</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="submit()"
            >
              Salvar
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>

  <div fxFlex class="container" *ngIf="touchedForm || metadata.length > 0">
    <ng-container *ngIf="touchedForm">
      <h3>Objeto criado:</h3>
      <question
        *ngIf="objectType == 'question'"
        [topic]="objForm.value.topic"
        [note]="objForm.value.note"
        [figureSrc]="objForm.value.figureSrc"
        [statement]="objForm.value.statement"
        [alternatives]="objForm.value.alternatives"
        [discursive]="objForm.value.discursive"
      >
      </question>

      <app-cards
        *ngIf="objectType == 'card'"
        [avatarSrc]="objForm.value.avatarSrc"
        [headerImageSrc]="objForm.value.headerImageSrc"
        [title]="objForm.value.title"
        [subtitle]="objForm.value.subtitle"
        [content]="objForm.value.content"
        [actionTitle]="objForm.value.actionTitle"
        [actionLink]="objForm.value.actionLink"
      >
      </app-cards>
    </ng-container>
    <br>
    <div *ngIf="metadata.length > 0">
      <h3>Metadados associados:</h3>
      <table mat-table [dataSource]="metadata" #metadataTable>
        <!-- Coluna Chave -->
        <ng-container matColumnDef="chave">
          <th mat-header-cell *matHeaderCellDef>Chave</th>
          <td mat-cell *matCellDef="let element">{{ element.key }}</td>
        </ng-container>

        <!-- Coluna Valor -->
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
