<div class="container wrapper">
  <section class="container">
    <h3>Busca por metadados padronizados:</h3>
    <app-standard-form
      [filters]="filters"
      [clearFilters]="clearFiltersEvent | async"
    ></app-standard-form>
  </section>

  <section class="container">
    <h3>Busca por metadados livres:</h3>
    <app-custom-type-filter
      [filterComponent]="filters"
      [clearFilters]="clearFiltersEvent | async"
    ></app-custom-type-filter>
  </section>

  <div class="button-container" [align]="'end'">
    <button mat-button (click)="clearFilters()">Limpar</button>
    <button mat-button (click)="search()" color="primary">Buscar</button>
  </div>
</div>
