<div class="container">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled title="Button"></button>

      <span *ngIf="node.object?.nodeInfo?.nodeType === 'root'">{{
        convertString(node.object?.nodeInfo?.nodeType)
      }}</span>
      <div
        *ngIf="node.object?.nodeInfo?.nodeType == 'single-select'"
        class="flex-container"
      >
        <app-unit-select
          class="flex-item"
          [nodeInfo]="node.object?.nodeInfo"
        ></app-unit-select>
      </div>
      <div
        *ngIf="node.object?.nodeInfo?.nodeType == 'langString-type'"
        class="flex-container"
      >
        <app-lang-string-type-filter
          class="flex-item"
          [nodeInfo]="node.object?.nodeInfo"
        ></app-lang-string-type-filter>
      </div>
      <div
      *ngIf="node.object?.nodeInfo?.nodeType == 'characterString-type'"
      class="flex-container"
    >
      <app-character-string-type-filter
        class="flex-item"
        [nodeInfo]="node.object?.nodeInfo"
      ></app-character-string-type-filter>
    </div>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
      matTreeNodeToggle
    >
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <span>
        {{ convertString(node.name) }}
        <span *ngIf="node.object?.nodeInfo?.description != undefined"
          >: {{ node.object?.nodeInfo?.description }}</span
        >
      </span>
    </mat-tree-node>
  </mat-tree>
</div>
