.fixed-width {
  flex: 0 0 52px; /* Fixed width for reorder and remove columns */
  padding: 0 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-fill {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}