<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/mean">MEAN</a>
      <a mat-list-item routerLink="/mongo">MongoDB</a>
      <a mat-list-item routerLink="/express">Express.js</a>
      <a mat-list-item routerLink="/angular">Angular</a>
      <a mat-list-item routerLink="/node">Node.js</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        color="accent"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img [src]="iconPath" alt="Ícone" />&nbsp;</span>
      <span class="project-title" color="accent">&nbsp;LearnBench&nbsp;</span>
      <span class="fill-remaining-space"></span>
      <span>
        <button
          type="button"
          color="accent"
          aria-label="Notifications"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon>notifications</mat-icon>
        </button>
      </span>
      <span *ngIf="isLoggedIn == true">
        <button mat-button color="primary">
          <mat-icon>account_circle</mat-icon>{{ loggedUser }}
        </button>
      </span>
      <span *ngIf="isLoggedIn == true">
        <button
          mat-raised-button
          color="accent"
          (click)="openLogoutDialog()"
        >
          Logout
        </button>
      </span>
      <span *ngIf="isLoggedIn == false">
        <button mat-raised-button color="accent" (click)="openLoginDialog()">
          Login
        </button>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
